/* css/components/cursor.css */

#cursor {
    position: fixed; 
    width: 20px; height: 20px;
    border: 2px solid var(--accent);
    border-radius: 50%;
    pointer-events: none; 
    z-index: 10000;
    
    /* PREPARING FOR HARDWARE ACCELERATED TRANSFORMS */
    top: 0; left: 0;
    transform: translate3d(-50%, -50%, 0);
    
    box-shadow: 0 0 15px var(--accent);
    mix-blend-mode: difference;
    transition: width 0.2s, height 0.2s;
    will-change: transform;
}